<div class="loginBox">
    <div *ngIf="checkStatus; else prueba">
        <mat-progress-spinner
            class="example-margin"
            color="accent"
            mode="indeterminate"
            value="50">
        </mat-progress-spinner>
    </div>
    <ng-template #prueba>
        <form [formGroup]="loginForm" (ngSubmit)="login()" class="formLogin">
            <h2>
                Username to start the chat!
            </h2>
            
            <mat-form-field>
                <mat-label>Username</mat-label>
                <input 
                    matInput 
                    formControlName="username"
                    color=""
                    >
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            </mat-form-field>
            
            <div class="text-center">
                <button
                    mat-raised-button>
                        <mat-icon>account_circle</mat-icon>
                        Log in!
                </button>
            </div>
        </form>
    </ng-template>
</div>