.appBox{
    width: auto;
    height: 80vh;
    background-color: white;
    padding: 1rem;
    border-radius: 5px;
}


.chats{
    background-color: red;

    width: 300px;
}

.conversation{
    background-color: green;
    width: 600px;
}