<div class="row appBox">
    <div class="col-md-4 chats">
        <h1>Chats Disponibles</h1>
        <div *ngFor="let item of chats" (click)="clickedRoom(item.room)">
            <div class="d-flex justify-content-between chat">
                <span>{{ item.room }}</span>
                <span>{{ item.messages }}</span>
            </div>
        </div>
    </div>
    
    <!-- <div class=""
        > -->

        <div *ngFor="let items of chats" [id]="items.room" class="col-md-8 conversation hidden">
            <div class="chatActivated">
                <h2>{{items.room}}</h2>
            </div>
            <div class="dataConversation">
                <div class="message">
                    <h4>
                        <u><b>
                            Paco
                            <!-- Add username {{}} -->
                        </b></u>
                    </h4>
                    <p>
                        Data of {{ items.room }}
                    </p>
                </div>
                
            </div>
            <div>
                <app-messages-chat [room]="items.room"></app-messages-chat>
            </div>
        </div>

    <!-- </div> -->

    <div class="col-md-8 conversation text-center my-auto mx-auto"
        *ngIf="activedRoom === '' "
    >
        <h1 class="">Entra en algún chat para empezar a hablar!</h1>
    </div>  

    
</div>

