.appBox{
    width: auto;
    height: 80vh;
    background-image: url('../../../assets/backgroundChatDarkMode.jpg');
    background-size: contain;
    padding: 1rem;
    border-radius: 5px;


    .chats{
        background-color: rgb(237, 237, 237);
        padding: 1rem;
        border-radius: 5px 0px 0px 5px;
        width: 300px;
        overflow-y: scroll;
        scroll-behavior: smooth;
    }
    
    .chat{
        background: white;
        margin: 1rem 0px;
        padding: 1rem;
        border-radius: 5px;
        transition: .5s;
    }
    
    .chat:hover{
        background-color: #05F8AC;
        transition: .5s;
    }
    
    .conversation{
        color: white;
        border-radius: 0px 5px 5px 0px;
        width: 800px;
        position: relative;
        .dataConversation{
            width: 100%;
            height: 80%;
            margin-bottom: 1rem;
            background-color: rgba($color: white, $alpha: .2);
            border-radius: 5px;
            padding: .5rem;
            
            .message{
                background-color: aqua;
                padding: .5rem;
                border-radius: 5px;
                max-width: 400px;
                width: fit-content;
                height: auto;
                word-wrap: break-word;
            }
        }
        .chatActivated{
            color: black;
            background-color: rgb(237, 237, 237);
            text-align: center;
            border-radius: 5px;
        }
    }

    .hidden{
        display: none;
    }
    

}


